:root {
  --max-dark-grey: rgb(110, 110, 110);
  --logo-blue: #139cd7;
  --red: rgb(212, 0, 255);
  --green: green;
  --border--blue: rgb(20, 173, 255);
  --light-grey: rgb(193, 190, 190);
  --dark-grey: #999;
  --light-green: #009999;
  --white: white;
  --light-blue: rgb(0, 153, 153);
  --pink: #cc6699;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.blockContact {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 2px solid red; */
}

.contactPage {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
}

.nameContact {
  padding: 6% 2%;
}

.ourAdress {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: var(--dark-grey);
  gap: 15px;
  width: 30%;
  padding: 20px;
  line-height: 180%;
}

.ourAdressContact {
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
}

.ourLocation {
  width: 30%;
  padding: 10px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inputInfo {
  padding: 13px 20px;
  color: var(--light-green);
}

.sendMessage {
  width: 40%;
  padding: 5% 7%;
  font-size: 100%;
  background-color: var(--light-blue);
  color: var(--white);
  border-color: var(--dark-grey);
  border-radius: 7px;
  border: none;
}

.containerContactContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 20px;
  padding: 2% 1% 5% 1%;
  /* border: 2px solid rgb(64, 10, 243); */
}

.descriptionContact {
  display: flex;
  flex-direction: column;
  width: 24%;
  justify-content: space-around;
  /* border: 2px solid red; */
  color: var(--dark-grey);
}

.photoContact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.imagePhoto {
  width: 100%;
}

.profession {
  color: var(--pink);
  font-size: 130%;
  font-weight: bold;
  padding: 15px 5px 15px 10px;
}

.descriptionContact p {
  display: flex;
  text-align: justify;
  padding: 3%;
}

.contactPersons {
  display: flex;
  justify-content: space-around;
  padding: 40px 120px 70px 80px;
  color: var(--dark-grey);
  font-size: 17px;
}

@media (max-width: 576px) {
  /* Измените размер элемента <containerName> на 30px, когда окно браузера имеет ширину 576px или меньше: */
  .containerName {
    font-size: 30px;
  }
  .buttonPage {
    padding: 0px 0px;
  }
  .containerContactContent {
    flex-direction: column;
  }
  .descriptionContact {
    width: 100%;
  }
}
