*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.searchBlock {
  width: 100%;
  height: 200px;
  /* border: 2px solid var(--green); */
  background-image: url(../images/hero.jpg);
  background-size: cover; /* растягивание убирает */
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search {
  width: 300px;
  height: 50px;
  border: none;
}

::placeholder {
  color: #009999;
  font-size: 16px;
}

.buttonSearch {
  height: 50px;
  background-color: var(--light-blue);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid --border--blue; */
  padding: 20px 30px;
}
.containerName {
  font-size: 35px;
  color: var(--light-green);
  padding: 30px 0px; /*?????? как урегулировать край   */
}
.containerPages {
  font-size: 20px;
  color: var(--light-green);
}
.containerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.data {
  color: var(--light-grey);
}
.views {
  color: var(--dark-grey);
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7%;
}

/* hover images */

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 355px;
  height: 200px;
  position: relative;
}

.photo:before {
  content: " ";
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  border-top: 3px solid rgb(250, 250, 246);
  border-bottom: 3px solid rgb(250, 250, 246);
  transition: 0.3s;
  transform: scaleX(0);
}

.photo:after {
  content: " ";
  position: absolute;
  content: attr(data-title); /* Выводим текст */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 5%;
  bottom: 5%;
  left: 5%;
  right: 5%;
  font-size: 200%;
  text-transform: uppercase;
  color: aliceblue;
  transition: 0.3s;
  border-left: 3px solid rgb(250, 250, 246);
  border-right: 3px solid rgb(250, 250, 246);
  transform: scaleY(0);
}

.photo:hover::before,
.photo:hover::after {
  transform: scale(1);
  background-color: rgba(128, 128, 128, 0.218);
}

/* как вариант затемнения*/
/* 
.photo:hover::before{
  transform: scale(1);
  background-color: rgba(66, 50, 213, 0.278);
}
.photo:hover::after{
  transform: scale(1);
  background-color: rgba(148, 17, 17, 0.459);
} */

/* mobile version */
@media (max-width: 576px) {
.number{
  padding: 35% 40%;
}
}
@media (max-width: 576px) {
  /* Измените размер элемента <containerName> на 30px, когда окно браузера имеет ширину 576px или меньше: */
  .containerName {
    font-size: 30px;
  }
  .buttonPage{
    padding: 0px 0px;
      }
}
@media (max-width: 768px) {
  .footer1 {
    flex-direction: column;
    text-align: center;
    padding: 0px 0px;
  }
  .linksAbout {
    text-align: center;
    width: 100%;
    padding: 0px 0px;
  }
  .contactAbout {
    width: 100%;
  }
  .contactIkons {
    justify-content: center;
    gap: 30px;
  }
  .contactTermsPrivacy {
    align-items: center;
  }
  .footerAbout {
    width: 100%;
  }
  .pagesNumber {
    gap: 15%;
  }
  .three-column{
   flex-direction: row;
  }

}
